<div class="example-container mat-elevation-z8">
    <h2>Añadir Cliente</h2>
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/cases']">
            <mat-icon>list</mat-icon>
        </a>
    </div>
    <mat-card class="example-card">
        <form [formGroup]="clientForm" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Name" formControlName="nombre" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!clientForm.get('nombre').valid && clientForm.get('nombre').touched">Please enter Name</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Celular</mat-label>
                <input matInput placeholder="Phone" formControlName="celular" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!clientForm.get('celular').valid && clientForm.get('celular').touched">Please enter Phone</span>
                </mat-error>
            </mat-form-field>
            <div class="button-row">
                <button type="submit" [disabled]="!clientForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
            </div>
        </form>
    </mat-card>
</div>